*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}
form.contact-form{
    display: table;
}

div.contact-form{
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

h1,h2,h3,h4,h5{
    color: olivedrab;
    font-family:'Courier New', Courier, monospace
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{
    background-color: bisque;
    color: brown;
}

a:link{
    background-color: yellow;
    color: blue;
}

.nav_internt{
    margin: 20px;
}

main{
    margin-top: 100px;
}